// Quasar SCSS variables

$primary   : #1a237e; // Deep Midnight Blue
$secondary : #ff6d00; // Electric Orange
$accent    : #2979ff; // Azure Blue

$dark      : #1d1d1d;
$dark-page : #121212;

$positive  : #21ba45;
$negative  : #c10015;
$info      : #31ccec;
$warning   : #f2c037;

// Sporting Shadows
$shadow-sport: 0 10px 30px rgba(0,0,0,0.15);
$shadow-glass: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
